data_unwrangled/
data_unwrangled_old/
.ipynb_checkpoints/
.DS_Store
cache/
*.pyc
dual_graph_stuff.ipynb
planetoid
planetoid.ipynb
planetoid/*
loaded_data/
dstgcn_loaded_data/
*.err
*.out
saved_models/excellent_model.pt
all_metrics_saved